<!DOCTYPE html>
<html>
<head>
	<title>Điểm Danh Trực Tiếp</title>
	<meta charset="utf-8">
  	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="./css/style-tc-tructiep.css">
	<link rel="stylesheet" type="text/css" href="./css/bootstrap.min.css">
	<script src="https://code.jquery.com/jquery-3.5.0.min.js"></script>
	
	
	<!-- <script type="text/javascript" src="js/student.js"></script> -->
</head>
<body>
<div class="header">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-12">
				<div class="head-l">
		<div class="menu" >
			<ul style="margin-top: 15px;">
				<li><a href="http://localhost:4000/" data-text="Trang Chủ">Trang Chủ</a></li>
				<li><a href="#1" data-text="Tin Tức">Tin Tức</a></li>
				<li><a href="#1" data-text="Liên Hệ">Liên Hệ</a></li>
			</ul>
		</div>
	</div>
	<div class="head-r">
		<div class="menu-lg">
			
		</div>
	</div>
			</div>
		</div>
	</div>
</div>

<div class="nav">
	<div class="container-fluid">
		<div class="row">
			<div class="col-xs-2 col-sm-2 col-md-2 col-lg-2 col-xl-2">
				<div class="nav-left">
	<button class="accordion"><a href="teacher" style="color: black";>Quản Lý</a></button>
	<button class="accordion">Điểm Danh</button>
		<div class="panel">
		  <li><a href="#1" id="manage">Trực Tiếp</a></li>
		  <li><a href="teacher_face">Nhận Diện Khuôn Mặt</a></li>
		  <li><a href="teacher_qr">Mã QR</a></li>
		</div>
	<button class="accordion">Đăng Xuất</button>
		<div class="panel">
		  <p>Chức mừng bạn đã bị khóa acc vĩnh viễn</p>
		</div>
	</div>
	</div>

	
		<div class="col-xs-10 col-sm-10 col-md-10 col-lg-10 col-xl-10">
	<div class="nav-right">
		<div class="form-direct" >
			<fieldset>
				<legend>Điểm Danh</legend>
			
		  <form id="form">
			<div class="space">
				<label>Tên Sự kiện:</label>
			<input type="text" name="sukien" id="sukien" class="url"  placeholder="Vui lòng nhập tên sự kiện hoặc tên môn học" style="padding-left: 5px;"><br>
			<br>
			
			<input type="submit" name="submit" value="Tạo sự kiện">
		</div>
		  </form>
		
				
		
			</fieldset>
		</div>
	</div>
	</div>

		</div>
	</div>
</div>


<script src='https://cdn.jsdelivr.net/g/lodash@4(lodash.min.js+lodash.fp.min.js)'></script>
<script src="https://code.jquery.com/jquery-3.4.1.js"></script>
<script type="text/javascript">
 $(document).ready(function(){
	 $("form").submit(function(e){
		 e.preventDefault();
		 var myText=$('input[name=sukien]').val();
		 $.ajax({
			 url:"/student_noti",
			 data:{
				 text:myText
			 },
			 method:"GET",
			 contentType:"application/x-www-form-urlencoded",
			 success:function(res){
			  alert(res.data);
			},error:function(err){
				alert(err);
			}
		 })
		 
	 })
 })  
 </script>
<script type="text/javascript">
	var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight) {
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    } 
  });
}
$(document).ready(function(){
	$('#manage').click(function(){
		$('.nav-right').animate({
			height: 'toggle'
		});
	});
});

</script>
</body>
</html>