
<script>
  $(document).ready(function() {
     $(function () {$('[data-toggle="tooltip"]').tooltip()});
    //  $("#btnSubmit").click((event) => {
    //      //stop submit the form, we will post it manually.
    //      event.preventDefault();
    //      doAjax(c);
    //  });
   });
   
 function submitAT(c){
     $('#confirmAttendance').modal('hide');
     var password = $("input[name='password']").val();
     var image=$("#content").text();
     $.ajax({
         type:'POST',
         url:`/createDiemDanh?c=${c}`,
         data:{password,image},
 
         success:function(checkDiemDanh){
           console.log(checkDiemDanh)
           if(checkDiemDanh=="ảnh")
           {
             $.notify({	
               icon: 'fa fa-bug',
               message: ' <strong>Vui lòng tải lại ảnh</strong>' },{type: 'danger'});
           }
           else if(checkDiemDanh.length > 0) {
             $.notify({
                 icon:'fa fa-warning',              
               message: ' <strong>Bạn đã điểm danh</strong>' },{type: 'warning'});
           }
           else if(checkDiemDanh.length <= 0){
             $.notify({
               message: ' <strong>Điểm danh thành công</strong>', icon:'fas fa-check', },{type: 'success'});
               
             }
 
           else if(checkDiemDanh==false){
             $.notify({
               icon: 'fa fa-bug',
               message: ' <strong>Vui lòng nhập lại mật khẩu điểm danh</strong>' },{type: 'danger'});
           }
        
     }
 })
 }
 function authenticateAt(c){
     $('#confirmBtn').attr('onclick',`submitAT('${c}')`);
     $("#btnSubmit").click((event) => {
         //stop submit the form, we will post it manually.
         event.preventDefault();
         doAjax(c);
     });
    
    // $('#btnSubmit').attr('onclick',`doAjax('${c}')`);
   }
   //Upload image
 function doAjax(c) {
     // Get form
     var form = $('#fileUploadForm')[0];
     var data = new FormData(form);
     $.ajax({
         type: "POST",
         enctype: 'multipart/form-data',
         url: `/upload?c=${c}`,
         data: data,
         processData: false, //prevent jQuery from automatically transforming the data into a query string
         contentType: false,
         cache: false,
         success: (data) => {
           if(data==true)
           {
             $.notify({
                 icon:'fa fa-warning',              
               message: ' <strong>Bạn đã điểm danh</strong>' },{type: 'warning'});
           }
           else{
             $.notify("Tải ảnh lên thành công")
             $('#content').html(data).hide();
           } 
         },
         error: (e) => {
            alert(e);
             
         }
     });
 }
 
 </script>
 
 
 
 <div id="showInput">
 
 </div>