
<script>
 $(document).ready(function() {
    $(function () {$('[data-toggle="tooltip"]').tooltip()});
  });
  
function submitAT(c){
    $('#confirmAttendance').modal('hide');
    var password = $("input[name='password']").val();
  
    $.ajax({
    type:'POST',
    url:`/createDiemDanh?c=${c}`,
    data:{password},
    success:function(checkDiemDanh){
      console.log(checkDiemDanh)
      if(checkDiemDanh==true){
        $.notify("Bạn nhập sai mật khẩu điểm danh");
      }
     else if(checkDiemDanh.length > 0) {
      $.notify("Bạn đã điểm danh !");
      }
      else if(checkDiemDanh.length <= 0){
        $.notify("Điểm danh thành công");
       
        //setTimeout(`window.location.href="/student-diemdanh"`,6000);
      }
  

    }
})
}
function authenticateAt(c){
    $('#confirmBtn').attr('onclick',`submitAT('${c}')`);
  }
  </script>
<!-- Notify -->
<% if(mess&&mess!=''){ %>
  <script>
    $.notify("<%- mess %>", "success");
  </script>  
<% } %>

<div id="showInput">

</div>