<b>Tìm thấy hoạt động điểm danh phù hợp</b>
<div class="table-responsive">
  <table class="table text-center table-bordered table-hover">
    <thead>
      <tr class="d-flex">
        <th class="col-1">STT</th>
        <th class="col-2">Tên hoạt động</th>
        <th class="col-3">Ngày điểm danh</th>
        <th class="col-3">Hết hạn</th>
        <th class="col-3"> Tích điểm danh</th>
      
      </tr>
    </thead>
    <tbody>
      <tr class="d-flex alert-success">
        <th class="col-1"></th>
        <th class="col-2"></th>
        <th class="col-3"></th>
        <th class="col-3"></th>
        <th class="col-3">
          <button type="submit" id="completed-task" class="fabutton">
            <i class="fa fa-square-o fa-lg" data-toggle="modal" data-target="#submitDiemDanh" onclick="submitAT('<%- %>')"></i>
          </button></th>
      </tr>
    
      
    </tbody>
  </table>
</div>