<script src="./javascripts/template/ejs.js"></script>
<script src="./javascripts/template/ejs.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script >
  //RefreshByCode 
function RefreshAc(c){
  $('#refresh').modal('hide');
  $.ajax({
    type:'POST',
    url:`/refreshAt?c=${c}`,
    success:function(data) {
      $.notify( 'Xem danh sinh viên đã điểm danh thành công')
      $('#showStudent').html(function() {
       
        var child = data.map((x, index) => {
          return `<tr class="d-flex alert-success" >`+ 
            `<td class="col-1">` + (parseInt(index)+1)  + `</td>`+ 
            `<td class="col-2">` +  x.MSSV + `</td>`+ 
            `<td class="col-3">` +  x.HoVaTen + `</td>`+ 
            `<td class="col-3">` +  x.TenSuKien+ `</td>`+ 
            `<td class="col-3">` + `<img src="./uploads/`+x.Avatar+`" alt="image">` + `</td>`+
             `</tr >`
        })

      var childTitle=`<tr class="d-flex">` + 
                      `<th class="col-1">`+"STT"+`</th>` +
                      `<th class="col-2">`+"MSSV"+`</th>` +
                      `<th class="col-3">`+"HỌ VÀ TÊN"+`</th>` +
                      `<th class="col-3">`+"TÊN SỰ KIỆN"+`</th>`+
                      `<th class="col-3">`+"Hình ảnh"+`</th>`+
                    `</tr>`;
         var title = `<thead class="thead-light">` + childTitle + `</thead>`;

        var father = "<b>"+"Danh sách sinh viên đà điểm danh" +"</b>"+
        "<br>"+
        `<table class="table text-center table-bordered table-hover">` +
            title+ child + 
        `</table>`;
        return father;
        
      });
    }
})
}
</script>

<div id="showStudent" class="table-responsive">
  
</div>

  
