.fabutton {
    background: none;
    padding: 0px;
    border: none;
  }
  .card.light-version .file-field input[type=text] {
    border-bottom: 1px solid #fff !important; }
    .card.light-version .file-field input[type=text]::-webkit-input-placeholder {
    color: #fff !important;
    font-weight: 300 !important; }
    .card.light-version .file-field input[type=text]::-moz-placeholder {
    color: #fff !important;
    font-weight: 300 !important; }
    .card.light-version .file-field input[type=text]:-ms-input-placeholder {
    color: #fff !important;
    font-weight: 300 !important; }
    .card.light-version .file-field input[type=text]::placeholder {
    color: #fff;
    font-weight: 300; }
    .card.light-version .file-field input[type=text]:focus:not([readonly]) {
    -webkit-box-shadow: 0 1px 0 0 #fff !important;
    box-shadow: 0 1px 0 0 #fff !important; }
    .card.light-version .file-field input[type=text].valid {
    border-bottom: 1px solid #00c851 !important;
    -webkit-box-shadow: 0 1px 0 0 #00c851 !important;
    box-shadow: 0 1px 0 0 #00c851 !important; }
    .card.light-version .file-field input[type=text]:focus.valid {
    border-bottom: 1px solid #00c851 !important;
    -webkit-box-shadow: 0 1px 0 0 #00c851 !important;
    box-shadow: 0 1px 0 0 #00c851 !important; } 