body{
    padding: 0px;
    margin: 0px;
    background-image: linear-gradient( 109.6deg,  rgba(204,228,247,1) 11.2%, rgba(204,228,247,1) 11.2% );
   height: 100vh;
}

@media (min-width: 320px) and (max-width: 374px){
    .menu{
        font-size: 13px !important;
        font-family: serif;
      }
      .menu ul{
        margin: 0px;
        padding: 0px;
      }
      .menu ul li{
        padding: 0px 5px !important;
      }
    
    .form-student{
      width: 100% !important;
      font-size: 10px;
      margin-top: 10px;
      height: 425px !important;
    }
    .form-student h3{
        font-size: 19px;
        text-align: center;
        margin-bottom: 15px;
        font-family: serif;
        margin-top: 10px;
    }
    
    .nav-left button.accordion{
      font-size: 14px;
    font-family: initial;

    }
    .nav-left .panel li a{
            font-size: 14px;
    font-family: serif;
    }
    .nav-left{
      margin-top: 5px !important;
    }
}
@media (min-width: 375px) and (max-width: 424px){
    .menu{
        font-size: 13px !important;
        font-family: serif;
      }
      .menu ul{
        margin: 0px;
        padding: 0px;
      }
      .menu ul li{
        padding: 0px 5px !important;
      }
    
    .form-student{
      width: 100% !important;
      font-size: 10px;
      margin-top: 10px;
      height: 425px !important;
    }
    .form-student h3{
        font-size: 19px;
        text-align: center;
        margin-bottom: 15px;
        font-family: serif;
        margin-top: 10px;
    }
    
    .nav-left button.accordion{
      font-size: 14px;
    font-family: initial;

    }
    .nav-left .panel li a{
            font-size: 14px;
    font-family: serif;
    }
    .nav-left{
      margin-top: 5px !important;
    }
}
@media (min-width: 425px) and (max-width: 767px){
    .menu{
        font-size: 13px !important;
        font-family: serif;
      }
      .menu ul{
        margin: 0px;
        padding: 0px;
      }
      .menu ul li{
        padding: 0px 5px !important;
      }
    
    .form-student{
      width: 100% !important;
      font-size: 10px;
      margin-top: 10px;
      height: 425px !important;
    }
    .form-student h3{
        font-size: 19px;
        text-align: center;
        margin-bottom: 15px;
        font-family: serif;
        margin-top: 10px;
    }
    
    .nav-left button.accordion{
      font-size: 14px;
    font-family: initial;

    }
    .nav-left .panel li a{
            font-size: 14px;
    font-family: serif;
    }
    .nav-left{
      margin-top: 5px !important;
    }
}
@media (min-width: 768px) and (max-width: 1023px){
    .menu{
        font-size: 13px !important;
        font-family: serif;
      }
      .menu ul{
        margin: 0px;
        padding: 0px;
      }
      .menu ul li{
        padding: 0px 5px !important;
      }
    
    .form-student{
      width: 100% !important;
      font-size: 10px;
      margin-top: 10px;
      height: 430px !important;
    }
    .form-student h3{
        font-size: 19px;
        text-align: center;
        margin-bottom: 15px;
        font-family: serif;
        margin-top: 10px;
    }
    
    .nav-left button.accordion{
      font-size: 14px;
    font-family: initial;

    }
    .nav-left .panel li a{
            font-size: 14px;
    font-family: serif;
    }
    .nav-left{
      margin-top: 5px !important;
    }
}
@media (min-width: 1024px) and (max-width: 1439px){
    .menu{
        font-size: 13px !important;
        font-family: serif;
      }
      .menu ul{
        margin: 0px;
        padding: 0px;
      }
      .menu ul li{
        padding: 0px 5px !important;
      }
    
    .form-student{
      width: 100% !important;
      font-size: 10px;
      margin-top: 10px;
      height: 485px !important;
    }
    .form-student h3{
        font-size: 19px;
        text-align: center;
        margin-bottom: 15px;
        font-family: serif;
        margin-top: 10px;
    }
    
    .nav-left button.accordion{
      font-size: 14px;
    font-family: initial;

    }
    .nav-left .panel li a{
            font-size: 14px;
    font-family: serif;
    }
    .nav-left{
      margin-top: 5px !important;
    }
    .form-student table{
      margin-left: 10px;
      font-size: 15px;
    }
}
@media (min-width: 1440px) and (max-width: 1999px){
    .menu{
        font-size: 13px !important;
        font-family: serif;
      }
      .menu ul{
        margin: 0px;
        padding: 0px;
      }
      .menu ul li{
        padding: 0px 5px !important;
      }
    
    .form-student{
      width: 100% !important;
      font-size: 10px;
      margin-top: 10px;
      height: 505px !important;
    }
    .form-student h3{
        font-size: 19px;
        text-align: center;
        margin-bottom: 15px;
        font-family: serif;
        margin-top: 10px;
    }
    
    .nav-left button.accordion{
      font-size: 14px;
    font-family: initial;

    }
    .nav-left .panel li a{
            font-size: 14px;
    font-family: serif;
    }
    .nav-left{
      margin-top: 5px !important;
    }
    .form-student table{
      margin-left: 15px;
      font-size: 16px;
    }
}

.header{
    background-color: #0d101c;
    height: 55px;
    /* clear: both; */
}


.menu-lg button {
    width: 105px;
    height: 40px;
    border-radius: 8px;
    outline: none;
    background-color: #4cc7d4;
    border: 1px solid #81c3e2;
    cursor: pointer;
}


button.result{
  width: 221px;
  height: 31px;
  font-weight: bold;
  cursor: pointer;
  background-color: #afaaaa;
  outline: none;
  border: 1px solid black;
}
button.search{
  width: 210px;
  height: 31px;
  font-weight: bold;
  cursor: pointer;
  background-color: #afaaaa;
  outline: none;
  border: 1px solid black;
}

.head-l .menu {
    float: left;
    font-size: 21px;
    height: 50px;
}


.head-l .menu li {
    display: inline-block;
    padding: 0px 13px;
    display: inline-block;
}
.head-l .menu li a {
    text-decoration: none;
    position: relative;
    color: white;
}
.head-l .menu li a:before{
    content: attr(data-text);
    border-bottom: 3px solid #ef4366;
    color: #fff;
    white-space: nowrap;
    width: 0%;
    overflow: hidden;
    padding: 0px 0px;
    transition: all 0.4s;
    position: absolute;
    left: 0;
    top: -2px;
}
.head-l .menu li a:hover:before{
    width: 100%;
}


.nav-left{
  margin-top: 1px;
}


.nav .nav-right{
    /* float: right; */
    /* width: 80%; */
    /* background-color: #75727252; */
    /* height: 100vh; */
    /* margin-left: 0px; */
    /* margin: 0px; */
}

.nav-right .form-student {
    width: 45%;
    border: 1px solid black;
    height: 348px;

}

.form-student table th{
  width: 150px;
}
.form-student table td{
  width: 300px;
}

.form-student label{
  margin-left: 12px;
}

.accordion {
  background-color: #0be64e;
  color: #444;
  cursor: pointer;
  padding: 15px 41px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
  transition: 0.4s;
}

.active, .accordion:hover {
  background-color: #10d04b;
}

.panel {
  padding: 0px 0px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: all 0.4s;
}

.panel ul {
    padding: 0px;
    margin: 0px;
}

.panel li {
    list-style: none;
    /* text-align: center; */
    background-color: #656363;
    text-align: left;
    border-bottom: 1px solid black;
}

.panel li:hover {
    background-color: black;
    cursor: pointer;
}

.panel li a {
    text-decoration: none;
    color: white;
    /* font-size: 17px; */
}

.error{
    color: red;
}

