body{
  padding: 0px;
  margin: 0px;
  font-family: serif !important;
}
  
.header{
  background-color: #0d101c;
  height: 55px;
}
@media (min-width: 320px) and (max-width: 374px){
.lh-3 {
  display: none;
}
.lh-1 p.ct-all, .lh-2 p.ct-all{
  font-size: 19px;
}
.head-l{
  width: 60% !important;
}
.head-l .menu ul{
  padding: 0px;
  font-size: 13px;
}
.head-l .menu ul li{
  padding: 0px 3px;
}
.head-r{
   width: 40% !important;
}
.head-r button{
  width: 100% !important;
  font-size: 12px !important;
  height: 35px !important;
  margin-top: 8px !important;
}
.nav{
  background-position: center;
  height: 90vh !important;
}
.nav .nav-r{
      width: 100% !important;
  left: 0% !important;
  top: 16px !important;
  border-radius: 17px;
}
.nav-r p.ht{
      font-size: 25px !important;
}
.nav-r .ql{
      font-size: 21px !important;
}
.nav-r .bd{
      font-size: 21px !important;
}
.menu-ct ul li{
  display: block;
  font-size: 20px;
  margin-top: 6px;
  width: 90% !important;
  margin-left: 13px;
}
.first-ft{
  height: 230px !important;
}
.first-ft .lh-1{
  width: 50%;
}
.lh-1 p{
  padding-left: 42px !important;
}
.first-ft .lh-2{
  width: 50%;
}
.lh-2 p{
  padding-left: 46px !important;
}
.last-ft p{
  font-size: 11px !important;
  padding-top: 14px !important;
}
}
@media (min-width: 375px) and (max-width: 424px){
.lh-3 {
  display: none;
}
.lh-1 p.ct-all, .lh-2 p.ct-all{
  font-size: 21px;
}
.head-l{
  width: 60% !important;
}
.head-l .menu ul{
  padding: 0px;
  font-size: 15px;
}
.head-l .menu ul li{
  padding: 0px 3px;
}
.head-r{
   width: 40% !important;
}
.head-r button{
  width: 100% !important;
  font-size: 12px !important;
  height: 35px !important;
  margin-top: 8px !important;
}
.nav{
  background-position: center;
  height: 90vh !important;
}
.nav .nav-r{
      width: 95% !important;
  left: 3% !important;
  top: 16px !important;
  border-radius: 17px;
}
.nav-r p.ht{
      font-size: 25px !important;
}
.nav-r .ql{
      font-size: 21px !important;
}
.nav-r .bd{
      font-size: 21px !important;
}
.menu-ct ul li{
  display: block;
  font-size: 20px;
  margin-top: 6px;
  width: 90% !important;
  margin-left: 13px;
}
.first-ft{
  height: 230px !important;
}
.first-ft .lh-1{
  width: 50%;
}
.lh-1 p{
  padding-left: 42px !important;
}
.first-ft .lh-2{
  width: 50%;
}
.lh-2 p{
  padding-left: 46px !important;
}
.last-ft p{
  font-size: 13px !important;
  padding-top: 14px !important;
}
}
@media (min-width: 425px) and (max-width: 767px){
.lh-3 {
  display: none;
}
.lh-1 p.ct-all, .lh-2 p.ct-all{
  font-size: 23px;
}
.head-l{
  width: 60% !important;
}
.head-l .menu ul{
  padding: 0px;
  font-size: 17px;
}
.head-l .menu ul li{
  padding: 0px 3px;
}
.head-r{
   width: 40% !important;
}
.head-r button{
  width: 100% !important;
  font-size: 12px !important;
  height: 35px !important;
  margin-top: 8px !important;
}
.nav{
  background-position: center;
  height: 90vh !important;
}
.nav .nav-r{
      width: 90% !important;
      left: 5% !important;
      top: 16px !important;
      border-radius: 17px;
}
.nav-r p.ht{
      font-size: 25px !important;
}
.nav-r .ql{
      font-size: 21px !important;
}
.nav-r .bd{
      font-size: 23px !important;
}
.menu-ct ul li{
  display: block;
  font-size: 20px;
  margin-top: 6px;
  width: 90% !important;
  margin-left: 13px;
}
.first-ft{
  height: 230px !important;
}
.first-ft .lh-1{
  width: 50%;
}
.lh-1 p{
  padding-left: 42px !important;
}
.first-ft .lh-2{
  width: 50%;
}
.lh-2 p{
  padding-left: 46px !important;
}
.last-ft p{
  font-size: 13px !important;
  padding-top: 14px !important;
}
}
@media (min-width: 768px) and (max-width: 1023px){
.first-ft .lh-3{
  width: 40%;
}
.lh-1 p.ct-all, .lh-2 p.ct-all, .lh-3 p.ct-all{
  font-size: 22px;
}
.header{
  height: 62px;
}
.lh-3 p{
  font-size: 16px !important;
}
.lh-3 input{
  height: 36px;
  padding: 0px 34px !important;
}
.lh-3 textarea{
      width: 282px;
      height: 80px;
}
.head-l{
  width: 60% !important;
}
.head-l .menu ul{
  padding: 0px;
  font-size: 21px;
}
.head-l .menu ul li{
  padding: 0px 15px;
}
.head-r{
   width: 40% !important;
}
.head-r button{
  width: 80% !important;
  font-size: 17px !important;
  height: 37px !important;
  margin-top: 12px !important;
}
.nav{
  background-position: center;
  height: 90vh !important;
}
.nav .nav-r{
      width: 70% !important;
      left: 15% !important;
      top: 31px !important;
      border-radius: 17px;
}
.nav-r p.ht{
      font-size: 30px !important;
}
.nav-r .ql{
      font-size: 20px !important;
}
.nav-r .bd{
      font-size: 23px !important;
}
.menu-ct ul li{
  display: inline;
  font-size: 20px;
  margin-top: 6px;
  margin-left: 13px;
  padding: 8px 34px;
}
.first-ft{
  height: 350px !important;
}
.first-ft .lh-1{
  width: 30%;
}
.lh-1 p{
  padding-left: 42px !important;
}
.first-ft .lh-2{
  width: 30%;
}
.lh-2 p{
  padding-left: 46px !important;
}
.last-ft p{
  font-size: 16px !important;
  padding-top: 14px !important;
}
}
@media (min-width: 1024px) and (max-width: 1439px){
.first-ft .lh-3{
  width: 40%;
}

.header{
  height: 63px;
}
.lh-3 p{
  font-size: 18px !important;
  margin-top: 11px;
}
.lh-3 input{
  height: 36px;
  padding: 0px 34px !important;
}
.lh-3 textarea{
      width: 282px;
      height: 80px;
}
.head-l{
  width: 80% !important;
}
.head-l .menu ul{
  padding: 0px;
  font-size: 21px;
}
.head-l .menu ul li{
  padding: 0px 15px;
}
.head-r{
   width: 20% !important;
}
.head-r button{
  width: 80% !important;
  font-size: 17px !important;
  height: 42px !important;
  margin-top: 10px !important;
}
.nav{
  background-position: center;
  height: 91vh !important;
}
.nav .nav-r{
      width: 43% !important;
      left: 29% !important;
      top: 54px !important;
      border-radius: 17px;
}
.nav-r p.ht{
      font-size: 30px !important;
}
.nav-r .ql{
      font-size: 20px !important;
}
.nav-r .bd{
      font-size: 23px !important;
}
.menu-ct ul li{
  display: inline;
  font-size: 20px;
  margin-top: 6px;
  margin-left: 13px;
  padding: 8px 34px;
}
.first-ft{
  height: 350px !important;
}
.first-ft .lh-1{
  width: 30%;
}
.lh-1 p{
  padding-left: 42px !important;
}
.first-ft .lh-2{
  width: 30%;
}
.lh-2 p{
  padding-left: 46px !important;
}
.last-ft p{
  font-size: 18px !important;
  padding-top: 12px !important;
}
}
@media (min-width: 1440px) and (max-width: 1999px){
.first-ft .lh-3{
  width: 40%;
}
.header{
  height: 68px;
}
.lh-3 p{
  font-size: 24px !important;
  margin-top: 3px;
}
.lh-3 input{
  height: 40px;
  padding: 0px 36px !important;
  font-size: 21px;
}
.lh-3 textarea{
      width: 62%;
      height: 96px;
}
.head-l{
  width: 80% !important;
}
.head-l .menu ul{
  padding: 0px;
  font-size: 25px;
}
.head-l .menu ul li{
  padding: 0px 15px;
}
.head-r{
   width: 20% !important;
}
.head-r button{
  width: 81% !important;
  font-size: 20px !important;
  height: 46px !important;
  margin-top: 10px !important;
}
.nav{
  background-position: center;
  height: 92vh !important;
}
.nav .nav-r{
      width: 43% !important;
      left: 30% !important;
      top: 25% !important;
      border-radius: 17px;
      height: 456px !important;
      background-attachment: fixed;
}
.nav-r p.ht{
      font-size: 40px !important;
}
.nav-r .ql{
      font-size: 23px !important;
}
.nav-r .bd{
      font-size: 29px !important;
      margin-bottom: 18px !important;
}
.menu-ct ul li{
  display: inline;
  font-size: 26px;
  margin-top: 6px;
  margin-left: 13px;
  padding: 10px 37px;
}
.first-ft{
  height: 373px !important;
}
.first-ft .lh-1{
  width: 30%;
  font-size: 21px;
}
.lh-1 p{
  padding-left: 42px !important;
}
.first-ft .lh-2{
  width: 30%;
  font-size: 21px;
}
.lh-2 p{
  padding-left: 46px !important;
}
.last-ft p{
  font-size: 21px !important;
  padding-top: 11px !important;
}
}


.head-l{
  width: 80%;
  float: left;
}
.head-l .menu {
float: left;
  font-size: 19px;
  height: 50px;
  font-family: serif;
}

.head-r {
  width: 20%;
  float: left;
}

.head-l .menu li {
  display: inline-block;
  padding: 0px 13px;
  display: inline-block;
}
.head-r button{
  font-size: 17px;
  color: white;
  width: 68%;
  height: 41px;
  background-color: #263538;
  outline: none;
  border-radius: 8px;
  margin-top: 5px;
  font-family: serif;
  border: 2px solid #f3f3f3;
}
.head-r button a{
      text-decoration: none;
  color: white;
}
.head-r button:hover{
   background-color: black;
  border-radius: 15px;
  border: 2px solid #45aebb;
  outline: none;
  transition: all 0.5s;
}



.nav{
  height: 100vh;
  background-image: url("../img/banner.png");
  background-size: cover;
}

.nav .nav-l {
  float: left;
}

.nav .nav-r {
 position: relative;
 font-family: serif;
 left: 30%;
 width: 45%;
 top: 23%;
 border: 4px solid black;
 text-align: center;
 height: 128%;
 padding: 34px 0px;
 background-color: #0000006b;
}



.menu-ct li {
  display: inline-block;
  padding: 3px 20px;
  border: 2px solid #000000;
  background-color: #6f7e88;
  border-radius: 22px;
}

.menu-ct ul li:hover {
  background-color: black;
  transition: all 0.6s;
  color: white;
  cursor: pointer;
}
.menu-ct ul li:hover a{
 transition: all 0.6s;
  color: white;
}


.menu-ct ul {
  font-size: 27px;
}

.menu-ct li a {
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-family: serif;
}

.content .ql {
  font-size: 21px;
  color: white;
  font-weight: bold;
  margin-bottom: 17px;
}

.content .bd {font-size: 28px;color: #dbf0ff;margin-bottom: 8px;}

.nav-r .content p.ht {
  font-size: 45px;
  color: #97d5f3;
  font-weight: bold;
  font-style: oblique;
}
.head-l .menu li a {
  text-decoration: none;
  position: relative;
  color: white;
}
.head-l .menu li a:before{
  content: attr(data-text);
  border-bottom: 3px solid #ef4366;
  color: #fff;
  white-space: nowrap;
  width: 0%;
  overflow: hidden;
  padding: 0px 0;
  transition: all 0.4s;
  position: absolute;
  left: 0;
  top: -2px;
}
.head-l .menu li a:hover:before{
  width: 100%;
}

.footer .first-ft{
  height: 400px;
  background-color: #0d0e0f;
}
.footer .last-ft{
  height: 50px;
  background-color: black;
}

.last-ft p {
  color: lightblue;
  font-size: 17px;
  text-align: center;
  margin-bottom: 0px;
  padding-top: 1%;
}

.lh-1{
  float: left;
  width: 30%;
  margin-top: 20px;
}

p.ct-all {
  color: white;
  font-size: 28px;
}

.lh-1 p {
  padding-left: 100px;
}

.lh-2 p.fl a:hover {
  color: #00ff89bf;
  padding-left: 7px;
  transition: linear 0.3s;
}

.lh-2 p.fl a {
  text-decoration: none;
  color: #959595;
}

p.ct2 {
  color: #959595;
}
.lh-2{
  float: left;
  width: 30%;
  margin-top: 20px;
}

.lh-2 p {
  padding-left: 65px;
}
.lh-3{
  float: right;
  width: 40%;
  margin-top: 20px;
}

.lh-3 input[type="submit"] {
  padding: 7px 38px;
  border-radius: 15px;
  border: 2px solid #a2a0a0;
  margin-left: 100px;
  margin-top: 10px;
  outline: none;
  background-color: #3cbbf5;
  font-weight: bold;
}

.lh-3 input[type="submit"]:hover {
  background-color: #01bfd4;
  transition: linear 0.3s;
  cursor: pointer;
  border: 2px solid black;
}

.lh-3 textarea {
  padding-top: 5px;
  padding-left: 5px;
  box-shadow: 0px 0px 6px 2px darkslategrey;
}



.lh-3 p.nd {
  font-style: italic;
  font-size: 17px;
  color: #959595;
}


.all{
  height: 100vh;
  background-color: #00000036;
}





input.username, input.pass {
width: 100%;
padding: 12px 20px;
margin: 8px 0;
display: inline-block;
border: 1px solid #ccc;
box-sizing: border-box;
}

/* Set a style for all buttons */
button.log {
background-color: #4CAF50;
color: white;
padding: 14px 20px;
margin: 8px 0;
border: none;
cursor: pointer;
width: 100%;
}

button.log:hover {
opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
width: auto;
padding: 10px 18px;
background-color: #3dc1fd;
}

/* Center the image and position the close button */
.imgcontainer {
text-align: center;
margin: 24px 0 12px 0;
position: relative;
}


.container {
padding: 16px;
max-width: 600px;
/* display: flex; */
}

span.psw {
float: right;
padding-top: 16px;
}

/* The Modal (background) */
.modal {
display: none; /* Hidden by default */
position: fixed; /* Stay in place */
z-index: 1; /* Sit on top */
left: 0;
top: 0;
width: 100%; /* Full width */
height: 100%; /* Full height */
overflow: auto; /* Enable scroll if needed */
background-color: rgb(0,0,0); /* Fallback color */
background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
background-color: #fefefe;
margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
border: 1px solid #888;
width: 48%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
position: absolute;
right: 25px;
top: 0;
color: #000;
font-size: 35px;
font-weight: bold;
}

.close:hover,
.close:focus {
color: red;
cursor: pointer;
}

/* Add Zoom Animation */
.animate {
-webkit-animation: animatezoom 0.6s;
animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
from {-webkit-transform: scale(0)} 
to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
from {transform: scale(0)} 
to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
span.psw {
   display: block;
   float: none;
}
.cancelbtn {
   width: 100%;
}
}
#login{
width: 50%;
}
.alert{
  margin-bottom: 0px !important;
}
.alert-danger{
  
left: 77%;
  
top: 15px;
  
border-radius: 14px !important;
  
height: 50px;
}